html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #F5F1E6;
  --color-secondary: #1A1A1A;
  --color-third: #B03026;
  --color-text: #1A1A1A;
  --color-hover: #90251F;
}

body{
  background-color: var(--color-primary);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

main{
  padding: 25px;
}
.carousel .slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
}

.carousel .slide.selected {
  opacity: 1;
  position: relative;
}